%header
  %h1 Upload a sample

= form_for @sample do |f|
  = render 'shared/error_messages', :object => f.object

  = render 'shared/audio_form', :object => f.object

  .field
    = f.label :description, :class => 'large'
    %br
    = f.text_area :description, :placeholder => 'Sample description...'

  .actions= f.submit 'Upload'
