%header
  %hgroup
    %h1#username= @user.username
    %h3#bio= @user.bio

#watch
  - unless current_user == @user
    = render 'watch_form'

#feed
  - @user.feed_events.each do |e|
    .event
      - case e.subject_type
      - when 'Sample'
        = render 'samples/feed_event', :sample => Sample.find(e.subject_id)
      - when 'Beat'
        = render 'beats/feed_event', :beat => Beat.find(e.subject_id)
      - when 'SampleBorrow'
        = render 'sample_borrows/feed_event', :sample_borrow => SampleBorrow.find(e.subject_id)
