.site_header.span-24.last
  %header.logo.span-24.last
    = link_to "BeatNode", root_path

  %nav.span-24.last
    %ul
      %li= link_to "Home", root_path, :class => 'span-4'
      %li= link_to "Profile", user_path(current_user), :class => 'span-4'
      %li= link_to "Samples", samples_path, :class => 'span-4'
      %li= link_to "Beats", beats_path, :class => 'span-4'
      %li= link_to "Sign out", sign_out_path, :class => 'span-4'
