%header
  %h1 Upload a beat

= form_for @beat do |f|
  = render 'shared/error_messages', :object => f.object

  .field
    = f.label :name
    %br
    = f.text_field :name

  .field
    = f.label :description
    %br
    = f.text_area :description

  .field
    = f.label :audio
    %br
    = f.file_field :audio

  .actions= f.submit 'Upload'
