%header
  %h1= @beat.name
  %h2= @beat.description
  = audio_tag(@beat.audio_component.audio)
  = link_to("Download", beat_download_path(@beat))

- unless @samples.empty?
  %h3 Samples
  #samples
    - @samples.each do |s|
      = link_to(s.name, sample_path(s))
      = audio_tag(s.audio_component.audio)
