!!!
%html
%head
  %title Beatnode
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css"}
  = csrf_meta_tags
%body
  %div.container
    - unless action_name == "welcome"
      %div.header
        = render "shared/header"
        = render "shared/user_nav"
    %p.notice= flash[:notice]
    %p.alert= flash[:alert]


    %div.content
      = yield
  = debug(params) if Rails.env.development?
