!!!
%html{:lang => 'en'}
%head
  %title Beatnode
  = stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection'
  = stylesheet_link_tag 'blueprint/print', :media => 'print'
  = stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection'
  = stylesheet_link_tag 'blueprint/plugins/buttons/screen', :media => 'screen, projection'
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags
%body
  = render 'shared/header'
  .container
    = render 'shared/flash_messages'

    %section.content.span-16.last
      = yield
    %section.user_info
      = render 'shared/user_info', :samples_presenter => Samples::IndexPresenter.new(current_user),
                                   :beats_presenter => Beats::IndexPresenter.new(current_user)

  = debug(params) if Rails.env.development?
